body {
  background-color: #fff6e5;
  color: #1b1100;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 3.2vw;
  font-family: Mu-Regular;
  line-height: 5.6vw;
}

.underoverskrift {
  font-feature-settings: "smcp", "c2sc";
  margin-bottom: 0;
  letter-spacing: 0.2vw;
}
.frsteavsnitt {
  margin-top: 0;
}
.kursiv {
  font-family: Mu-RegularItalic;
}
.fet {
  font-family: Mu-Bold;
}
.kapiteler {
  font-feature-settings: "smcp", "c2sc";
}
svg {
  font-family: Akzidenz;
}
.illustrasjon {
  margin-bottom: 0;
}
.topplass {
  margin-top: 2vw;
}
.matematikk {
  font-family: Mu-Regular;
}
.bildetekst {
  font-size: 2.4vw;
  margin-top: 0;
}
.bildetekst.bunnplass {
    margin-bottom: 6vw;
}
#sisteavsnitt {
  font-feature-settings: "smcp", "c2sc";
  margin-bottom: 15vw;
}
.linje {
  margin-bottom: 7.5vw;
}
.bunnlinje {
  margin-bottom: 75vw;
}
#overskrift {
  font-family: Lehmann;
  font-size: 7.8vw;
  text-transform: uppercase;
  letter-spacing: 0.6vw;
  margin-bottom: 1.25vw;
  line-height: 7.8vw;
  margin-top: 6vw;
}
@font-face {
  font-family: Mu-Regular;
  src: url(Mu-Regular.otf);
}
@font-face {
  font-family: Mu-RegularItalic;
  src: url(Mu-RegularItalic.otf);
}
@font-face {
  font-family: Mu-Bold;
  src: url(Mu-Bold.otf);
}
@font-face {
  font-family: Mu-BoldItalic;
  src: url(Mu-BoldItalic.otf);
}
@font-face {
  font-family: Akzidenz;
  src: url(AkzidenzGroteskPro-Ext.otf);
}
@font-face {
  font-family: Lehmann;
  src: url(LehmannEgyptian-Medium.otf)
}

@media only screen and (orientation: landscape) {
  body {
    margin-left: 30%;
    margin-right: 30%;
    font-size: 2.25vh;
    line-height: 3.75vh;
  }
  .bildetekst {
    font-size: 1.5vh;
  }
  #overskrift {
    font-size: 4.25vh;
    letter-spacing: 0.375vh;
    line-height: 4vh;
    margin-bottom: 0.75vh;
    margin-top: 3vh;
  }
  .underoverskrift {
    letter-spacing: 0.1vh;
  }
  .bildetekst.bunnplass {
    margin-bottom: 3vh;
  }
  #sisteavsnitt {
    margin-bottom: 7.5vh;
  }
  .linje {
    margin-bottom: 3.75vh;
  }
  .bunnlinje {
    margin-bottom: 37.5vh;
  }
  .topplass {
    margin-top: 1vh;
  }
  .underoverskrift {
    letter-spacing: 0.1vh;
  }
}
